name: Android CI

on:
  push:
    tags: v*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      env: 
        BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
      run: ./gradlew xnet:build xnet:bintrayUpload -PbintrayUser=teckjiang -PbintrayKey=$BINTRAY_KEY
